USE [CinemaDB]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Duration] [int] NOT NULL,
	[ReleaseYear] [int] NULL,
	[Country] [nvarchar](100) NULL,
	[Director] [nvarchar](100) NULL,
	[AgeRestriction] [nvarchar](10) NULL,
	[PosterURL] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Halls]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Halls](
	[HallID] [int] IDENTITY(1,1) NOT NULL,
	[HallName] [nvarchar](50) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[HallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[SessionID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[HallID] [int] NOT NULL,
	[SessionDateTime] [datetime2](7) NOT NULL,
	[BasePrice] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[SessionID] [int] NOT NULL,
	[BookingDateTime] [datetime2](7) NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[StatusID] [int] NOT NULL,
	[GuestName] [nvarchar](100) NULL,
	[GuestPhone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingSeats]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingSeats](
	[BookingSeatID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingSeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SessionsFullInfo]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_SessionsFullInfo] AS
SELECT 
    s.SessionID,
    m.Title AS MovieTitle,
    m.Description AS MovieDescription,
    m.Duration,
    m.AgeRestriction,
    h.HallName,
    h.Capacity AS HallCapacity,
    s.SessionDateTime,
    s.BasePrice,
    h.Capacity - ISNULL((
        SELECT COUNT(*) 
        FROM BookingSeats bs 
        JOIN Bookings b ON bs.BookingID = b.BookingID 
        WHERE b.SessionID = s.SessionID AND b.StatusID IN (1,2)
    ), 0) AS AvailableSeats,
    s.IsActive
FROM Sessions s
JOIN Movies m ON s.MovieID = m.MovieID
JOIN Halls h ON s.HallID = h.HallID;
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[RoleID] [int] NOT NULL,
	[RegistrationDate] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[MovieID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[ReviewDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_MovieReviews]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_MovieReviews] AS
SELECT 
    m.MovieID,
    m.Title,
    u.FullName AS UserName,
    r.Rating,
    r.Comment,
    r.ReviewDate
FROM Reviews r
JOIN Movies m ON r.MovieID = m.MovieID
JOIN Users u ON r.UserID = u.UserID;
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[ShiftID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[ShiftDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_EmployeeShifts]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_EmployeeShifts] AS
SELECT 
    u.UserID,
    u.FullName,
    u.Email,
    s.ShiftDate,
    s.StartTime,
    s.EndTime,
    DATEDIFF(HOUR, s.StartTime, s.EndTime) AS ShiftHours
FROM Shifts s
JOIN Users u ON s.EmployeeID = u.UserID;
GO
/****** Object:  View [dbo].[vw_MovieStatistics]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_MovieStatistics] AS
SELECT 
    m.MovieID,
    m.Title,
    COUNT(DISTINCT s.SessionID) AS TotalSessions,
    COUNT(DISTINCT b.BookingID) AS TotalBookings,
    ISNULL(SUM(b.TotalPrice), 0) AS TotalRevenue,
    ISNULL(AVG(r.Rating), 0) AS AverageRating,
    COUNT(DISTINCT r.ReviewID) AS ReviewCount
FROM Movies m
LEFT JOIN Sessions s ON m.MovieID = s.MovieID
LEFT JOIN Bookings b ON s.SessionID = b.SessionID AND b.StatusID = 2
LEFT JOIN Reviews r ON m.MovieID = r.MovieID
WHERE m.IsActive = 1
GROUP BY m.MovieID, m.Title;
GO
/****** Object:  Table [dbo].[BookingStatuses]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieGenres]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieGenres](
	[MovieGenreID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[GenreID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieGenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethodID] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[PaymentMethodID] [int] NOT NULL,
	[PaymentDateTime] [datetime2](7) NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[IsSuccessful] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[HallID] [int] NOT NULL,
	[RowNumber] [int] NOT NULL,
	[SeatNumber] [int] NOT NULL,
	[Category] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingID], [UserID], [SessionID], [BookingDateTime], [TotalPrice], [StatusID], [GuestName], [GuestPhone]) VALUES (1, 8, 1, CAST(N'2026-05-14T17:04:33.4133333' AS DateTime2), CAST(700.00 AS Decimal(10, 2)), 2, NULL, NULL)
INSERT [dbo].[Bookings] ([BookingID], [UserID], [SessionID], [BookingDateTime], [TotalPrice], [StatusID], [GuestName], [GuestPhone]) VALUES (2, 5, 1, CAST(N'2026-05-13T00:04:33.4200000' AS DateTime2), CAST(700.00 AS Decimal(10, 2)), 2, NULL, NULL)
INSERT [dbo].[Bookings] ([BookingID], [UserID], [SessionID], [BookingDateTime], [TotalPrice], [StatusID], [GuestName], [GuestPhone]) VALUES (3, 8, 2, CAST(N'2026-05-14T21:04:33.4266667' AS DateTime2), CAST(1500.00 AS Decimal(10, 2)), 2, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingSeats] ON 

INSERT [dbo].[BookingSeats] ([BookingSeatID], [BookingID], [SeatID], [Price]) VALUES (1, 1, 100, CAST(350.00 AS Decimal(10, 2)))
INSERT [dbo].[BookingSeats] ([BookingSeatID], [BookingID], [SeatID], [Price]) VALUES (2, 1, 71, CAST(350.00 AS Decimal(10, 2)))
INSERT [dbo].[BookingSeats] ([BookingSeatID], [BookingID], [SeatID], [Price]) VALUES (3, 2, 87, CAST(350.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[BookingSeats] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingStatuses] ON 

INSERT [dbo].[BookingStatuses] ([StatusID], [StatusName]) VALUES (1, N'Активно')
INSERT [dbo].[BookingStatuses] ([StatusID], [StatusName]) VALUES (2, N'Оплачено')
INSERT [dbo].[BookingStatuses] ([StatusID], [StatusName]) VALUES (3, N'Отменено')
SET IDENTITY_INSERT [dbo].[BookingStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([GenreID], [GenreName], [Description]) VALUES (1, N'Боевик', N'Фильмы с активными сценами и драками')
INSERT [dbo].[Genres] ([GenreID], [GenreName], [Description]) VALUES (2, N'Комедия', N'Веселые и смешные фильмы')
INSERT [dbo].[Genres] ([GenreID], [GenreName], [Description]) VALUES (3, N'Драма', N'Серьезные фильмы с глубоким сюжетом')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[Halls] ON 

INSERT [dbo].[Halls] ([HallID], [HallName], [Capacity], [Description]) VALUES (1, N'Зал 1', 100, N'Стандартный зал с обычными креслами')
INSERT [dbo].[Halls] ([HallID], [HallName], [Capacity], [Description]) VALUES (2, N'Зал 2', 80, N'VIP зал с комфортными креслами')
INSERT [dbo].[Halls] ([HallID], [HallName], [Capacity], [Description]) VALUES (3, N'Зал 3', 120, N'Большой зал с 3D оборудованием')
SET IDENTITY_INSERT [dbo].[Halls] OFF
GO
SET IDENTITY_INSERT [dbo].[MovieGenres] ON 

INSERT [dbo].[MovieGenres] ([MovieGenreID], [MovieID], [GenreID]) VALUES (1, 1, 1)
INSERT [dbo].[MovieGenres] ([MovieGenreID], [MovieID], [GenreID]) VALUES (2, 1, 5)
INSERT [dbo].[MovieGenres] ([MovieGenreID], [MovieID], [GenreID]) VALUES (4, 2, 3)
SET IDENTITY_INSERT [dbo].[MovieGenres] OFF
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([MovieID], [Title], [Description], [Duration], [ReleaseYear], [Country], [Director], [AgeRestriction], [PosterURL], [IsActive]) VALUES (1, N'Матрица', N'Программист узнает, что мир - это компьютерная симуляция', 135, 1999, N'США', N'Братья Вачовски', N'16+', NULL, 1)
INSERT [dbo].[Movies] ([MovieID], [Title], [Description], [Duration], [ReleaseYear], [Country], [Director], [AgeRestriction], [PosterURL], [IsActive]) VALUES (2, N'Интерстеллар', N'Путешествие через червоточину для спасения человечества', 169, 2014, N'США', N'Кристофер Нолан', N'12+', NULL, 1)
INSERT [dbo].[Movies] ([MovieID], [Title], [Description], [Duration], [ReleaseYear], [Country], [Director], [AgeRestriction], [PosterURL], [IsActive]) VALUES (3, N'Криминальное чтиво', N'Несколько историй из мира криминала Лос-Анджелеса', 154, 1994, N'США', N'Квентин Тарантино', N'18+', NULL, 1)
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [MethodName]) VALUES (1, N'Банковская карта')
INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [MethodName]) VALUES (2, N'Наличные')
INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [MethodName]) VALUES (3, N'Электронный кошелек')
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [BookingID], [PaymentMethodID], [PaymentDateTime], [Amount], [IsSuccessful]) VALUES (1, 1, 1, CAST(N'2026-05-14T23:04:33.4200000' AS DateTime2), CAST(700.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Payments] ([PaymentID], [BookingID], [PaymentMethodID], [PaymentDateTime], [Amount], [IsSuccessful]) VALUES (2, 2, 2, CAST(N'2026-05-14T23:04:33.4233333' AS DateTime2), CAST(700.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Payments] ([PaymentID], [BookingID], [PaymentMethodID], [PaymentDateTime], [Amount], [IsSuccessful]) VALUES (3, 3, 2, CAST(N'2026-05-14T23:04:33.4266667' AS DateTime2), CAST(1500.00 AS Decimal(10, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [UserID], [MovieID], [Rating], [Comment], [ReviewDate]) VALUES (1, 4, 1, 5, N'adfadfaf', CAST(N'2026-05-14T23:13:40.3574765' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Employee')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Seats] ON 

INSERT [dbo].[Seats] ([SeatID], [HallID], [RowNumber], [SeatNumber], [Category]) VALUES (1, 1, 1, 1, N'VIP')
INSERT [dbo].[Seats] ([SeatID], [HallID], [RowNumber], [SeatNumber], [Category]) VALUES (2, 1, 1, 2, N'VIP')
INSERT [dbo].[Seats] ([SeatID], [HallID], [RowNumber], [SeatNumber], [Category]) VALUES (3, 1, 1, 3, N'VIP')
GO
SET IDENTITY_INSERT [dbo].[Seats] OFF
GO
SET IDENTITY_INSERT [dbo].[Sessions] ON 

INSERT [dbo].[Sessions] ([SessionID], [MovieID], [HallID], [SessionDateTime], [BasePrice], [IsActive]) VALUES (1, 1, 1, CAST(N'2026-05-11T10:00:00.0000000' AS DateTime2), CAST(350.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Sessions] ([SessionID], [MovieID], [HallID], [SessionDateTime], [BasePrice], [IsActive]) VALUES (2, 1, 2, CAST(N'2026-05-11T14:00:00.0000000' AS DateTime2), CAST(500.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Sessions] ([SessionID], [MovieID], [HallID], [SessionDateTime], [BasePrice], [IsActive]) VALUES (3, 2, 1, CAST(N'2026-05-11T18:00:00.0000000' AS DateTime2), CAST(400.00 AS Decimal(10, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[Sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Shifts] ON 

INSERT [dbo].[Shifts] ([ShiftID], [EmployeeID], [ShiftDate], [StartTime], [EndTime]) VALUES (1, 2, CAST(N'2026-05-11' AS Date), CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time))
INSERT [dbo].[Shifts] ([ShiftID], [EmployeeID], [ShiftDate], [StartTime], [EndTime]) VALUES (2, 3, CAST(N'2026-05-11' AS Date), CAST(N'14:00:00' AS Time), CAST(N'22:00:00' AS Time))
INSERT [dbo].[Shifts] ([ShiftID], [EmployeeID], [ShiftDate], [StartTime], [EndTime]) VALUES (3, 2, CAST(N'2026-05-12' AS Date), CAST(N'09:00:00' AS Time), CAST(N'17:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Shifts] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Login], [Password], [FullName], [Email], [Phone], [RoleID], [RegistrationDate], [IsActive]) VALUES (1, N'admin', N'admin123', N'Администратор Системы', N'admin@cinema.ru', N'+79001234567', 1, CAST(N'2026-05-11T21:02:36.5366667' AS DateTime2), 1)
INSERT [dbo].[Users] ([UserID], [Login], [Password], [FullName], [Email], [Phone], [RoleID], [RegistrationDate], [IsActive]) VALUES (2, N'employee1', N'emp123', N'Иван Петров', N'ivan@cinema.ru', N'+79001234568', 2, CAST(N'2026-05-11T21:02:36.5366667' AS DateTime2), 1)
INSERT [dbo].[Users] ([UserID], [Login], [Password], [FullName], [Email], [Phone], [RoleID], [RegistrationDate], [IsActive]) VALUES (3, N'employee2', N'emp123', N'Мария Иванова', N'maria@cinema.ru', N'+79001234569', 2, CAST(N'2026-05-11T21:02:36.5366667' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__BookingS__50846BF1CCE537D7]    Script Date: 14.05.2026 23:31:34 ******/
ALTER TABLE [dbo].[BookingSeats] ADD UNIQUE NONCLUSTERED 
(
	[BookingID] ASC,
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BookingS__05E7698A64B56DDE]    Script Date: 14.05.2026 23:31:34 ******/
ALTER TABLE [dbo].[BookingStatuses] ADD UNIQUE NONCLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Genres__BBE1C339BB0973A5]    Script Date: 14.05.2026 23:31:34 ******/
ALTER TABLE [dbo].[Genres] ADD UNIQUE NONCLUSTERED 
(
	[GenreName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__MovieGen__BBEAC46E4C2C60A5]    Script Date: 14.05.2026 23:31:34 ******/
ALTER TABLE [dbo].[MovieGenres] ADD UNIQUE NONCLUSTERED 
(
	[MovieID] ASC,
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PaymentM__218CFB1798B6D87E]    Script Date: 14.05.2026 23:31:34 ******/
ALTER TABLE [dbo].[PaymentMethods] ADD UNIQUE NONCLUSTERED 
(
	[MethodName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Payments__73951ACCA899F205]    Script Date: 14.05.2026 23:31:34 ******/
ALTER TABLE [dbo].[Payments] ADD UNIQUE NONCLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Reviews__A335E5EE4FFD4FD8]    Script Date: 14.05.2026 23:31:34 ******/
ALTER TABLE [dbo].[Reviews] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160CFCB4FBE]    Script Date: 14.05.2026 23:31:34 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Seats__E5240F236EAA6998]    Script Date: 14.05.2026 23:31:34 ******/
ALTER TABLE [dbo].[Seats] ADD UNIQUE NONCLUSTERED 
(
	[HallID] ASC,
	[RowNumber] ASC,
	[SeatNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B4C34AD2B]    Script Date: 14.05.2026 23:31:34 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookingDateTime]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((1)) FOR [StatusID]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDateTime]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [IsSuccessful]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([SessionID])
REFERENCES [dbo].[Sessions] ([SessionID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[BookingStatuses] ([StatusID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[BookingSeats]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingSeats]  WITH CHECK ADD FOREIGN KEY([SeatID])
REFERENCES [dbo].[Seats] ([SeatID])
GO
ALTER TABLE [dbo].[MovieGenres]  WITH CHECK ADD FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genres] ([GenreID])
GO
ALTER TABLE [dbo].[MovieGenres]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([HallID])
REFERENCES [dbo].[Halls] ([HallID])
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD FOREIGN KEY([HallID])
REFERENCES [dbo].[Halls] ([HallID])
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[AddOrUpdateReview]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddOrUpdateReview]
    @UserID INT,
    @MovieID INT,
    @Rating INT,
    @Comment NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    IF NOT EXISTS (SELECT 1 FROM Reviews WHERE UserID = @UserID AND MovieID = @MovieID)
    BEGIN
        INSERT INTO Reviews (UserID, MovieID, Rating, Comment)
        VALUES (@UserID, @MovieID, @Rating, @Comment);
        SELECT 1 AS Success, N'Отзыв добавлен' AS Message;
    END
    ELSE
    BEGIN
        UPDATE Reviews 
        SET Rating = @Rating, Comment = @Comment, ReviewDate = GETDATE()
        WHERE UserID = @UserID AND MovieID = @MovieID;
        SELECT 2 AS Success, N'Отзыв обновлен' AS Message;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[CancelBooking]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CancelBooking]
    @BookingID INT,
    @UserID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF EXISTS (SELECT 1 FROM Bookings WHERE BookingID = @BookingID 
               AND (UserID = @UserID OR @UserID IS NULL))
    BEGIN
        UPDATE Bookings 
        SET StatusID = 3 -- Отменено
        WHERE BookingID = @BookingID;
        
        SELECT 1 AS Success;
    END
    ELSE
    BEGIN
        SELECT 0 AS Success;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[CreateBooking]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CreateBooking]
    @UserID INT = NULL,
    @SessionID INT,
    @GuestName NVARCHAR(100) = NULL,
    @GuestPhone NVARCHAR(20) = NULL,
    @SeatIDs NVARCHAR(MAX), -- Список ID мест через запятую
    @TotalPrice DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @BookingID INT;
    DECLARE @SeatID INT;
    DECLARE @Pos INT;
    DECLARE @NextPos INT;
    DECLARE @SeatPrice DECIMAL(10,2);
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Создаем бронирование
        INSERT INTO Bookings (UserID, SessionID, TotalPrice, StatusID, GuestName, GuestPhone)
        VALUES (@UserID, @SessionID, @TotalPrice, 1, @GuestName, @GuestPhone);
        
        SET @BookingID = SCOPE_IDENTITY();
        
        -- Получаем базовую цену сеанса
        DECLARE @BasePrice DECIMAL(10,2);
        SELECT @BasePrice = BasePrice FROM Sessions WHERE SessionID = @SessionID;
        
        -- Обрабатываем список мест
        SET @SeatIDs = @SeatIDs + ',';
        SET @Pos = 1;
        SET @NextPos = CHARINDEX(',', @SeatIDs, @Pos);
        
        WHILE @NextPos > 0
        BEGIN
            SET @SeatID = CAST(SUBSTRING(@SeatIDs, @Pos, @NextPos - @Pos) AS INT);
            
            -- Цена может отличаться для VIP мест
            SET @SeatPrice = @BasePrice;
            IF EXISTS (SELECT 1 FROM Seats WHERE SeatID = @SeatID AND Category = N'VIP')
                SET @SeatPrice = @BasePrice * 1.5;
            
            INSERT INTO BookingSeats (BookingID, SeatID, Price)
            VALUES (@BookingID, @SeatID, @SeatPrice);
            
            SET @Pos = @NextPos + 1;
            SET @NextPos = CHARINDEX(',', @SeatIDs, @Pos);
        END
        
        COMMIT TRANSACTION;
        
        SELECT @BookingID AS BookingID, 1 AS Success, N'Бронирование создано' AS Message;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT -1 AS BookingID, 0 AS Success, ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAvailableSeats]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetAvailableSeats]
    @SessionID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT s.SeatID, s.RowNumber, s.SeatNumber, s.Category
    FROM Seats s
    JOIN Sessions sess ON s.HallID = sess.HallID
    WHERE sess.SessionID = @SessionID
    AND s.SeatID NOT IN (
        SELECT bs.SeatID 
        FROM BookingSeats bs
        JOIN Bookings b ON bs.BookingID = b.BookingID
        WHERE b.SessionID = @SessionID 
        AND b.StatusID IN (1, 2) -- Активно или Оплачено
    )
    ORDER BY s.RowNumber, s.SeatNumber;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSessionsByDate]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetSessionsByDate]
    @Date DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        s.SessionID, 
        m.Title AS MovieTitle, 
        h.HallName, 
        s.SessionDateTime, 
        s.BasePrice,
        (SELECT COUNT(*) FROM Seats WHERE HallID = h.HallID) AS TotalSeats,
        ISNULL((
            SELECT COUNT(*) 
            FROM BookingSeats bs 
            JOIN Bookings b ON bs.BookingID = b.BookingID 
            WHERE b.SessionID = s.SessionID AND b.StatusID IN (1,2)
        ), 0) AS BookedSeats
    FROM Sessions s
    JOIN Movies m ON s.MovieID = m.MovieID
    JOIN Halls h ON s.HallID = h.HallID
    WHERE CAST(s.SessionDateTime AS DATE) = @Date
    AND s.IsActive = 1
    ORDER BY s.SessionDateTime;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserBookings]    Script Date: 14.05.2026 23:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetUserBookings]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        b.BookingID,
        m.Title AS MovieTitle,
        s.SessionDateTime,
        h.HallName,
        b.TotalPrice,
        bs.StatusName,
        b.BookingDateTime,
        (SELECT COUNT(*) FROM BookingSeats WHERE BookingID = b.BookingID) AS SeatCount
    FROM Bookings b
    JOIN Sessions s ON b.SessionID = s.SessionID
    JOIN Movies m ON s.MovieID = m.MovieID
    JOIN Halls h ON s.HallID = h.HallID
    JOIN BookingStatuses bs ON b.StatusID = bs.StatusID
    WHERE b.UserID = @UserID
    ORDER BY s.SessionDateTime DESC;
END;
GO
